<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--kelasDao-->
    <bean class="com.maryanto.dimas.springdi.no.spring.KelasDao">
        <property name="koneksi" ref="koneksi"/>
    </bean>


    <bean class="com.maryanto.dimas.springdi.no.spring.Koneksi" name="koneksi" id="koneksi">
        <constructor-arg name="url" value="laksdjfsdf"/>
        <constructor-arg name="username" value="laksdjfsdf"/>
        <constructor-arg name="password" value="laksdjfsdf"/>
    </bean>

</beans>